.Dashboard {
  &__mainContainer {
    background: #eee;
    margin: 20px;
    border-radius: 20px;
    text-align: left;
  }

  &__card-container {
    margin-left: 40px;
  }

  &__amount {
    width: 215px;
    line-height: 20px;
    border: 2px dashed #a387b5c7;
    height: 90px;
  }

  &__received {
    padding-top: 10px;
    text-transform: uppercase;
    color: #706a6a;
    font-weight: 600;
    font-size: 14px;
  }

  &__rupees {
    padding-left: 5px;
    font-size: 26px;
    font-weight: 600;
  }

  &__invoices {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 520px;
    height: 40px;
  }
}

.searchicon {
  position: absolute;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 3px solid #5f8fa4;
  border-radius: 100%;
  margin-left: -30px;
  margin-top: 7px;
  cursor: pointer;
}
.searchicon:after {
  content: "";
  position: absolute;
  background: #5f8fa4;
  height: 6px;
  width: 3px;
  bottom: -5px;
  right: -3px;
  transform: rotate(-45deg);
}

input {
  border: none;
  outline: none;
  width: 220px;
  height: 30p;
  padding: 10px;
  color: #333;
  border-radius: 35px;
  transition: width 0.5s;
}
::-webkit-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
